# Function Tests

This notebook tests `countmatch_common.py`, `countmatch_teps.py` and `countmatch_bagheri.py`.

In [1]:
%matplotlib inline
import sys
sys.path.append('../')
import importlib
import matplotlib.pyplot as plt
import numpy as np
import knowyourdata as kyd

import pandas as pd
from traffic_prophet import cfg
import pathlib, os
import configparser

from traffic_prophet import connection
from traffic_prophet.countmatch import reader
from traffic_prophet.countmatch import growthfactor as gf
from traffic_prophet.countmatch import neighbour

defaultcolours = plt.rcParams['axes.prop_cycle'].by_key()['color']

filepath = pathlib.Path.home().joinpath('.charlesconfig')
if os.path.isfile(filepath):
    vol_conn = connection.Connection(filepath, 'POSTGRES',
                                     'czhu.btp_centreline_daily_counts')
    ll_conn = connection.Connection(filepath, 'POSTGRES',
                                    'czhu.btp_centreline_lonlat')
    config = configparser.RawConfigParser()
    config.read(filepath.as_posix())
    MAPBOX_TOKEN = config['MAPBOX']['token']
    PLOTLY_USER = config['PLOTLY']['user']
    PLOTLY_KEY = config['PLOTLY']['key']
else:
    filepath = pathlib.Path.home().joinpath('cf.txt')
    vol_conn = connection.Connection(filepath, 'localpg',
                                     'prj_vol.btp_centreline_daily_counts')
    ll_conn = connection.Connection(filepath, 'localpg',
                                    'gis.btp_centreline_lonlat')
    config = configparser.RawConfigParser()
    config.read(filepath.as_posix())
    MAPBOX_TOKEN = config['mapbox']['token']
    PLOTLY_USER = config['plotly']['user']
    PLOTLY_KEY = config['plotly']['apikey']

In [2]:
%%time
rdr_teps = reader.Reader(vol_conn)
rdr_teps.read()
gf.get_growth_factors(rdr_teps)

CPU times: user 1min 55s, sys: 3 s, total: 1min 58s
Wall time: 2min 8s

In [3]:
ptc_ids = np.unique(np.abs(list(rdr_teps.ptcs.keys())))
nb = neighbour.NeighbourLonLatEuclidean(ll_conn, 20, ptc_ids)
%time nb.find_neighbours()

CPU times: user 18.6 s, sys: 156 ms, total: 18.8 s
Wall time: 18.7 s

In [4]:
%%time
rdr_bag = reader.Reader(vol_conn)
rdr_bag.read()
gf.get_growth_factors(rdr_bag)

CPU times: user 2min 1s, sys: 3.23 s, total: 2min 4s
Wall time: 2min 14s

## TEPs-like CountMatch

Testing the `countmatch_teps` module.

In [ ]:
import countmatch_teps as cmt
importlib.reload(cmt)

In [ ]:
teps_aadt_estimates = cmt.estimate_aadts(
    rdr_teps, nb, 2019, n_neighbours=5, single_direction=True, progress_bar=True)

In [8]:
import countmatch_common as cmc
importlib.reload(cmc)

In [9]:
ptc_estimates = cmc.aadt_estimator_for_ptcs(rdr_teps, 2019, override_growth_factor=False)

In [ ]:
teps_aadt_estimates = cmc.combine_estimators(teps_aadt_estimates, ptc_estimates)

In [ ]:
teps_aadt_estimates

## Hybrid Count Module

Testing `countmatch_hybrid.py`.

In [5]:
import countmatch_hybrid as cmh
importlib.reload(cmh)

In [6]:
bag_aadt_estimates = cmh.estimate_aadts(rdr_bag, nb, 2019, progress_bar=True)

HBox(children=(FloatProgress(value=0.0, description='Preprocessing PTCs', max=166.0, style=ProgressStyle(descr…

HBox(children=(FloatProgress(value=0.0, description='Estimating STTC AADTs', max=15553.0, style=ProgressStyle(…

In [10]:
bag_aadt_estimates.head()

   Count ID  PTC ID  Growth Factor  Most Recent Year  AADT Estimate
0      -175   -1022       1.135230              2010    5378.846957
1       175  444516       1.271847              2010   12889.208626
2      -201 -445884       0.909007              2006      74.947454
3       201  444782       0.984669              2006     157.838043
4      -202 -445884       0.909007              2006      49.870941

In [11]:
bag_aadt_estimates = cmc.combine_estimators(bag_aadt_estimates, ptc_estimates)

In [12]:
bag_aadt_estimates

,Count ID,PTC ID,Growth Factor,Most Recent Year,AADT Estimate_STTC,AADT Estimate_PTC,AADT Estimate
0,-175,-1022,1.135230,2010,5378.846957,NaN,5378.846957
1,175,444516,1.271847,2010,12889.208626,NaN,12889.208626
2,-201,-445884,0.909007,2006,74.947454,NaN,74.947454
3,201,444782,0.984669,2006,157.838043,NaN,157.838043
4,-202,-445884,0.909007,2006,49.870941,NaN,49.870941
5,202,444782,0.984669,2006,146.990007,NaN,146.990007
6,-214,-890,1.038726,2011,3809.125278,NaN,3809.125278
7,-229,-445884,0.909007,2006,78.842754,NaN,78.842754
8,229,444782,0.984669,2006,180.716896,NaN,180.716896
9,-256,-445884,0.909007,2006,3637.407741,NaN,3637.407741
10,-267,-444637,0.968665,2011,5611.361450,NaN,5611.361450
11,267,1003,1.036831,2011,12778.111479,NaN,12778.111479
12,287,444782,0.984669,2006,11253.520780,NaN,11253.520780
13,-297,-444637,0.968665,2017,352.890062,NaN,352.890062
14,297,446012,1.013699,2017,966.136002,NaN,966.136002
15,-298,-1022,1.135230,2006,5529.177343,NaN,5529.177343
16,298,1033,1.115397,2006,5240.639235,NaN,5240.639235
17,-318,-445884,0.909007,2006,43.536358,NaN,43.536358
18,318,444782,0.984669,2006,115.171438,NaN,115.171438
19,-323,-444637,0.968665,2017,595.714735,NaN,595.714735
20,323,1003,1.036831,2017,1089.800310,NaN,1089.800310
21,-329,-890,1.038726,2011,3020.479132,NaN,3020.479132
22,-330,-444637,0.968665,2011,5224.928398,NaN,5224.928398
23,-337,-444637,0.968665,2011,8431.177421,NaN,8431.177421
24,337,444782,0.984669,2011,10748.212909,NaN,10748.212909
25,-344,-6388019,1.012840,2017,584.119690,NaN,584.119690
26,344,446012,1.013699,2017,332.307322,NaN,332.307322
27,-350,-445884,0.909007,2007,99.831060,NaN,99.831060
28,350,444516,1.271847,2007,8518.842675,NaN,8518.842675
29,-372,-6388019,1.012840,2017,406.999526,NaN,406.999526
...,...,...,...,...,...,...,...
15523,-30009093,-445884,0.909007,2018,682.762147,NaN,682.762147
15524,-30011716,-1147184,0.891378,2018,215.454785,NaN,215.454785
15525,30011716,20043629,0.813953,2018,142.830257,NaN,142.830257
15526,-30012808,-30087988,0.968883,2018,593.239492,NaN,593.239492
15527,30012808,1146181,1.029138,2018,721.583193,NaN,721.583193
15528,-30015940,-10924071,0.946493,2018,222.610550,NaN,222.610550
15529,30015940,1821,0.999093,2018,237.369031,NaN,237.369031
15530,-30020932,-442161,0.983852,2018,4331.332580,NaN,4331.332580
15531,30020932,5439677,1.013915,2018,3572.413348,NaN,3572.413348
15532,-30031161,-1147184,0.891378,2018,5109.287993,NaN,5109.287993
15533,30031161,20043629,0.813953,2018,6287.705544,NaN,6287.705544
15534,-30035821,-12334583,1.096785,2018,1471.411911,NaN,1471.411911
15535,-30054796,-110101,1.053314,2018,7669.268585,NaN,7669.268585
15536,30054796,110025,1.074500,2018,8551.962653,NaN,8551.962653
15537,-30058206,-20054568,1.008292,2018,3645.824876,NaN,3645.824876
15538,-30058854,-104870,0.986010,2018,180.356630,NaN,180.356630
15539,30058854,5439765,0.966183,2018,144.281160,NaN,144.281160
15540,-30059702,-104870,0.986010,2018,626.869122,NaN,626.869122
15541,30059702,30019302,1.045796,2018,798.412040,NaN,798.412040
15542,-30059784,-104870,0.986010,2018,2662.181766,NaN,2662.181766
15543,30059784,30019302,1.045796,2018,3540.006529,NaN,3540.006529
15544,-30065224,-8171,1.104457,2018,1317.886944,NaN,1317.886944
15545,30065224,5439677,1.013915,2018,818.180503,NaN,818.180503
15546,30071590,20043629,0.813953,2018,269.459254,NaN,269.459254
15547,30075961,6837747,0.981848,2018,3329.748006,NaN,3329.748006
15548,-30078909,-442161,0.983852,2018,15844.016499,NaN,15844.016499
15549,30078909,6248089,0.907765,2018,14136.934913,NaN,14136.934913
15550,-30078912,-442161,0.983852,2018,15703.874305,NaN,15703.874305
15551,-30085792,-440332,1.128996,2018,7427.540302,NaN,7427.540302
15552,30085792,442871,1.129811,2018,8134.137962,NaN,8134.137962

## Bagheri Count Module