# Function Tests

This notebook tests `countmatch_common.py`, `countmatch_teps.py` and `countmatch_bagheri.py`.

In [1]:
%matplotlib inline
import sys
sys.path.append('../')
import importlib
import matplotlib.pyplot as plt
import numpy as np
import knowyourdata as kyd

import pandas as pd
from traffic_prophet import cfg
import pathlib, os
import configparser

from traffic_prophet import connection
from traffic_prophet.countmatch import reader
from traffic_prophet.countmatch import growthfactor as gf
from traffic_prophet.countmatch import neighbour

defaultcolours = plt.rcParams['axes.prop_cycle'].by_key()['color']

filepath = pathlib.Path.home().joinpath('.charlesconfig')
if os.path.isfile(filepath):
    vol_conn = connection.Connection(filepath, 'POSTGRES',
                                     'czhu.btp_centreline_daily_counts')
    ll_conn = connection.Connection(filepath, 'POSTGRES',
                                    'czhu.btp_centreline_lonlat')
    config = configparser.RawConfigParser()
    config.read(filepath.as_posix())
    MAPBOX_TOKEN = config['MAPBOX']['token']
    PLOTLY_USER = config['PLOTLY']['user']
    PLOTLY_KEY = config['PLOTLY']['key']
else:
    filepath = pathlib.Path.home().joinpath('cf.txt')
    vol_conn = connection.Connection(filepath, 'localpg',
                                     'prj_vol.btp_centreline_daily_counts')
    ll_conn = connection.Connection(filepath, 'localpg',
                                    'gis.btp_centreline_lonlat')
    config = configparser.RawConfigParser()
    config.read(filepath.as_posix())
    MAPBOX_TOKEN = config['mapbox']['token']
    PLOTLY_USER = config['plotly']['user']
    PLOTLY_KEY = config['plotly']['apikey']

In [2]:
%%time
rdr_teps = reader.Reader(vol_conn)
rdr_teps.read()
gf.get_growth_factors(rdr_teps)

CPU times: user 1min 55s, sys: 2.62 s, total: 1min 57s
Wall time: 2min 9s

In [3]:
ptc_ids = np.unique(np.abs(list(rdr_teps.ptcs.keys())))
nb = neighbour.NeighbourLonLatEuclidean(ll_conn, 20, ptc_ids)
%time nb.find_neighbours()

CPU times: user 19.8 s, sys: 328 ms, total: 20.1 s
Wall time: 20.1 s

In [4]:
%%time
rdr_bag = reader.Reader(vol_conn)
rdr_bag.read()
gf.get_growth_factors(rdr_bag)

CPU times: user 2min 2s, sys: 2.83 s, total: 2min 4s
Wall time: 2min 14s

## TEPs-like CountMatch

Testing the `countmatch_teps` module.

In [5]:
import countmatch_teps as cmt
importlib.reload(cmt)

In [6]:
teps_aadt_estimates = cmt.estimate_aadts(
    rdr_teps, nb, 2019, n_neighbours=5, single_direction=True, progress_bar=True)

HBox(children=(FloatProgress(value=0.0, description='Calculating PTC averages', max=166.0, style=ProgressStyle…

HBox(children=(FloatProgress(value=0.0, description='Calculating STTC monthly patterns', max=15553.0, style=Pr…

HBox(children=(FloatProgress(value=0.0, description='Minimum MSE AADT estimate', max=15553.0, style=ProgressSt…

In [7]:
import countmatch_common as cmc
importlib.reload(cmc)

In [8]:
ptc_estimates = cmc.aadt_estimator_for_ptcs(rdr_teps, 2019, override_growth_factor=False)

In [9]:
teps_aadt_estimates = cmc.combine_estimators(teps_aadt_estimates, ptc_estimates)

In [10]:
teps_aadt_estimates

,Count ID,PTC ID,Closest Year,D_ij,AADT Estimate_STTC,AADT Estimate_PTC,AADT Estimate
0,-175,-445884,2010,0.976424,2208.113549,NaN,2208.113549
1,175,446012,2010,0.915809,1818.715350,NaN,1818.715350
2,-201,-443987,2006,0.937714,339.977238,NaN,339.977238
3,201,445280,2006,0.984605,267.842517,NaN,267.842517
4,-202,-443975,2006,0.980700,213.250136,NaN,213.250136
5,202,445280,2006,0.984605,243.810970,NaN,243.810970
6,-214,-1022,2011,0.964907,3281.430923,NaN,3281.430923
7,-229,-443987,2006,0.937714,357.870777,NaN,357.870777
8,229,444782,2006,0.995233,310.040831,NaN,310.040831
9,-256,-443975,2006,0.962607,15733.294198,NaN,15733.294198
10,-267,-890,2011,0.952082,8034.928010,NaN,8034.928010
11,267,1033,2011,0.980012,11578.892712,NaN,11578.892712
12,287,445280,2006,0.973740,16372.874772,NaN,16372.874772
13,-297,-445884,2017,0.965954,313.932849,NaN,313.932849
14,297,30066159,2017,1.047017,1167.448655,NaN,1167.448655
15,-298,-445309,2006,0.973628,1497.109680,NaN,1497.109680
16,298,30066159,2006,1.051982,1862.681375,NaN,1862.681375
17,-318,-445309,2006,0.977661,212.155496,NaN,212.155496
18,318,445280,2006,0.992803,187.685114,NaN,187.685114
19,-323,-6388019,2017,0.949529,520.939613,NaN,520.939613
20,323,444516,2017,0.920733,959.287426,NaN,959.287426
21,-329,-890,2011,0.952082,2572.085292,NaN,2572.085292
22,-330,-445309,2011,0.969151,7614.578805,NaN,7614.578805
23,-337,-445309,2011,0.969151,12282.722057,NaN,12282.722057
24,337,445280,2011,0.984605,14027.737963,NaN,14027.737963
25,-344,-444637,2017,0.996655,645.737866,NaN,645.737866
26,344,1033,2017,0.975932,374.287401,NaN,374.287401
27,-350,-445884,2007,0.975377,446.283049,NaN,446.283049
28,350,446012,2007,0.901146,614.566032,NaN,614.566032
29,-372,-6837741,2017,0.893608,403.413550,NaN,403.413550
...,...,...,...,...,...,...,...
15523,-30009093,-10924071,2018,0.964567,836.157245,NaN,836.157245
15524,-30011716,-30022069,2018,0.978881,243.162267,NaN,243.162267
15525,30011716,1147194,2018,0.974772,168.402869,NaN,168.402869
15526,-30012808,-30087988,2018,1.009040,704.856651,NaN,704.856651
15527,30012808,1146200,2018,0.944425,672.271384,NaN,672.271384
15528,-30015940,-1022,2018,0.964907,249.554767,NaN,249.554767
15529,30015940,30066159,2018,1.046448,267.078115,NaN,267.078115
15530,-30020932,-9313402,2018,0.961568,4790.664334,NaN,4790.664334
15531,30020932,20230203,2018,0.950299,4408.759938,NaN,4408.759938
15532,-30031161,-30022069,2018,1.003588,6428.442830,NaN,6428.442830
15533,30031161,1147194,2018,0.992566,7639.349215,NaN,7639.349215
15534,-30035821,-30022069,2018,0.978235,1296.009800,NaN,1296.009800
15535,-30054796,-13503833,2018,0.946547,6289.487401,NaN,6289.487401
15536,30054796,110026,2018,0.956868,6457.843139,NaN,6457.843139
15537,-30058206,-30023559,2018,0.956313,3479.592885,NaN,3479.592885
15538,-30058854,-20050591,2018,0.986559,201.030916,NaN,201.030916
15539,30058854,106898,2018,1.003131,167.149492,NaN,167.149492
15540,-30059702,-13503833,2018,0.943278,662.455222,NaN,662.455222
15541,30059702,105654,2018,0.961325,809.433911,NaN,809.433911
15542,-30059784,-13503833,2018,0.943278,2774.212042,NaN,2774.212042
15543,30059784,105654,2018,0.961325,3423.142197,NaN,3423.142197
15544,-30065224,-30073761,2018,0.984785,1330.861801,NaN,1330.861801
15545,30065224,30075995,2018,0.986369,1046.638346,NaN,1046.638346
15546,30071590,913875,2018,0.991838,323.100200,NaN,323.100200
15547,30075961,6837747,2018,0.929798,3685.533562,NaN,3685.533562
15548,-30078909,-9313402,2018,0.961568,18012.583347,NaN,18012.583347
15549,30078909,5849817,2018,0.971144,18532.489161,NaN,18532.489161
15550,-30078912,-8171,2018,0.957668,17780.922533,NaN,17780.922533
15551,-30085792,-441170,2018,0.999262,6110.968458,NaN,6110.968458
15552,30085792,443071,2018,0.989952,6941.878743,NaN,6941.878743

## Hybrid Count Module

Testing `countmatch_hybrid.py`.

In [14]:
import countmatch_hybrid as cmh
importlib.reload(cmh)

In [15]:
bag_aadt_estimates = cmh.estimate_aadts(rdr_bag, nb, 2019, progress_bar=True)

HBox(children=(FloatProgress(value=0.0, description='Preprocessing PTCs', max=166.0, style=ProgressStyle(descr…

HBox(children=(FloatProgress(value=0.0, description='Estimating STTC AADTs', max=15553.0, style=ProgressStyle(…

In [16]:
bag_aadt_estimates.head()

,Count ID,Nearest PTCS,Errors,PTC ID,Growth Factor,Most Recent Year,AADT Estimate
0,-175,"[-1022, -444637, -890, -445309, -445884]","[0.5608327532405594, 0.8307061415303842, 0.634...",-1022,1.135230,2010,5378.846957
1,175,"[446012, 1033, 444516, 1003, 444782]","[0.48182483033236795, 0.4179452872922771, 0.20...",444516,1.271847,2010,12889.208626
2,-201,"[-445309, -445884, -444637, -443975, -443987]","[0.0029596013716408163, 0.0, 0.001936558982980...",-445884,0.909007,2006,74.947454
3,201,"[445280, 444782, 444403, 444516, 446012]","[0.000271132236083406, 0.0, 0.0, 0.0, 7.335767...",444782,0.984669,2006,157.838043
4,-202,"[-445309, -445884, -444637, -443975, -443987]","[1.0984804229158482e-05, 0.0, 0.00291553627916...",-445884,0.909007,2006,49.870941

In [17]:
bag_aadt_estimates = cmc.combine_estimators(bag_aadt_estimates, ptc_estimates)

In [18]:
bag_aadt_estimates

,Count ID,Nearest PTCS,Errors,PTC ID,Growth Factor,Most Recent Year,AADT Estimate_STTC,AADT Estimate_PTC,AADT Estimate
0,-175,"[-1022, -444637, -890, -445309, -445884]","[0.5608327532405594, 0.8307061415303842, 0.634...",-1022,1.135230,2010,5378.846957,NaN,5378.846957
1,175,"[446012, 1033, 444516, 1003, 444782]","[0.48182483033236795, 0.4179452872922771, 0.20...",444516,1.271847,2010,12889.208626,NaN,12889.208626
2,-201,"[-445309, -445884, -444637, -443975, -443987]","[0.0029596013716408163, 0.0, 0.001936558982980...",-445884,0.909007,2006,74.947454,NaN,74.947454
3,201,"[445280, 444782, 444403, 444516, 446012]","[0.000271132236083406, 0.0, 0.0, 0.0, 7.335767...",444782,0.984669,2006,157.838043,NaN,157.838043
4,-202,"[-445309, -445884, -444637, -443975, -443987]","[1.0984804229158482e-05, 0.0, 0.00291553627916...",-445884,0.909007,2006,49.870941,NaN,49.870941
5,202,"[445280, 444782, 444403, 444516, 446012]","[2.8935805908725606e-06, 0.0, 0.0, 0.0, 0.0077...",444782,0.984669,2006,146.990007,NaN,146.990007
6,-214,"[-1022, -890, -444637, -445884, -445309]","[0.06788079244670922, 0.0029656457895476957, 0...",-890,1.038726,2011,3809.125278,NaN,3809.125278
7,-229,"[-445309, -445884, -444637, -443975, -443987]","[0.0029596013716407924, 0.0, 0.001936558982980...",-445884,0.909007,2006,78.842754,NaN,78.842754
8,229,"[445280, 444782, 444403, 444516, 446012]","[0.000271132236083406, 0.0, 0.0, 0.0, 7.335767...",444782,0.984669,2006,180.716896,NaN,180.716896
9,-256,"[-445309, -445884, -444637, -443975, -443987]","[5.074858420381781e-05, 0.0, 0.006524063642341...",-445884,0.909007,2006,3637.407741,NaN,3637.407741
10,-267,"[-1022, -890, -444637, -445884, -445309]","[0.07336653261162024, 0.004265254795900455, 0....",-444637,0.968665,2011,5611.361450,NaN,5611.361450
11,267,"[1033, 446012, 1003, 444516, 30066159]","[0.0555604795768085, 0.023227210313562046, 0.0...",1003,1.036831,2011,12778.111479,NaN,12778.111479
12,287,"[445280, 444782, 444403, 446012, 444516]","[9.839705004973266e-05, 0.0, 0.0, 0.0040249641...",444782,0.984669,2006,11253.520780,NaN,11253.520780
13,-297,"[-1022, -890, -444637, -445884, -445309]","[0.5564792894500068, 0.19776249969563903, 0.01...",-444637,0.968665,2017,352.890062,NaN,352.890062
14,297,"[1033, 446012, 1003, 30066159, 444516]","[0.2920811629091866, 0.0022489650173456435, 0....",446012,1.013699,2017,966.136002,NaN,966.136002
15,-298,"[-1022, -890, -444637, -445884, -445309]","[0.0, 0.0, 0.021539746582043294, 0.0, 0.001550...",-1022,1.135230,2006,5529.177343,NaN,5529.177343
16,298,"[1033, 446012, 1003, 30066159, 444516]","[0.0, 0.0001247956816190068, 6.947097159416814...",1033,1.115397,2006,5240.639235,NaN,5240.639235
17,-318,"[-445884, -445309, -444637, -890, -443975]","[0.0, 0.0003273694670034756, 0.042061814401032...",-445884,0.909007,2006,43.536358,NaN,43.536358
18,318,"[445280, 444782, 444403, 446012, 444516]","[0.00019023583393129159, 0.0, 0.0, 1.468169463...",444782,0.984669,2006,115.171438,NaN,115.171438
19,-323,"[-1022, -890, -6388019, -444637, -445884]","[0.5805725896079882, 0.21410792979535087, 0.11...",-444637,0.968665,2017,595.714735,NaN,595.714735
20,323,"[1033, 1003, 446012, 30066159, 444516]","[0.08233698677337248, 0.016843683781904824, 0....",1003,1.036831,2017,1089.800310,NaN,1089.800310
21,-329,"[-1022, -890, -445884, -444637, -445309]","[0.06851247641489694, 0.0033164442473271414, 0...",-890,1.038726,2011,3020.479132,NaN,3020.479132
22,-330,"[-1022, -890, -445884, -444637, -445309]","[0.0723474399718621, 0.00392941461900881, 0.09...",-444637,0.968665,2011,5224.928398,NaN,5224.928398
23,-337,"[-445884, -445309, -444637, -890, -443975]","[0.07763976846296336, 0.004899267162121551, 0....",-444637,0.968665,2011,8431.177421,NaN,8431.177421
24,337,"[445280, 444782, 444403, 446012, 444516]","[0.0187050791447872, 0.0035821386926638615, 0....",444782,0.984669,2011,10748.212909,NaN,10748.212909
25,-344,"[-1022, -890, -445884, -444637, -6388019]","[0.31757944924162007, 0.027216416561322104, 0....",-6388019,1.012840,2017,584.119690,NaN,584.119690
26,344,"[1033, 446012, 1003, 30066159, 444516]","[0.20750262951761878, 0.004006460007478366, 0....",446012,1.013699,2017,332.307322,NaN,332.307322
27,-350,"[-445884, -445309, -444637, -890, -443975]","[0.041949993901471354, 0.05146645747383357, 0....",-445884,0.909007,2007,99.831060,NaN,99.831060
28,350,"[445280, 444782, 444403, 446012, 444516]","[0.14346591750017967, 0.17005634648622317, 0.1...",444516,1.271847,2007,8518.842675,NaN,8518.842675
29,-372,"[-1022, -890, -6388019, -445884, -6837741]","[0.38903791500287965, 0.05752562857576182, 0.0...",-6388019,1.012840,2017,406.999526,NaN,406.999526
...,...,...,...,...,...,...,...,...,...
15523,-30009093,"[-445884, -445309, -890, -10924071, -444637]","[0.0, 0.0, 0.0, 0.0, 0.0]",-445884,0.909007,2018,682.762147,NaN,682.762147
15524,-30011716,"[-1147184, -913864, -13515818, -30010427, -300...","[0.0, 0.0, 0.0, 0.0, 0.0]",-1147184,0.891378,2018,215.454785,NaN,215.454785
15525,30011716,"[20043629, 30018111, 30065733, 1147194, 1147078]","[0.0, 0.0, 0.0, 0.0, 0.0]",20043629,0.813953,2018,142.830257,NaN,142.830257
15526,-30012808,"[-30087988, -1146214, -1146202, -12336156, -12...","[0.0, 0.0, 0.0, 0.0, 0.0]",-30087988,0.968883,2018,593.239492,NaN,593.239492
15527,30012808,"[1146181, 1146200, 30073994, 1146445, 1145768]","[0.0, 0.0, 0.0, 0.0, 0.0]",1146181,1.029138,2018,721.583193,NaN,721.583193
15528,-30015940,"[-10924071, -890, -445884, -1022, -445309]","[0.0, 0.0, 0.0, 0.0, 0.0]",-10924071,0.946493,2018,222.610550,NaN,222.610550
15529,30015940,"[1821, 30066159, 1003, 446012, 1033]","[0.0, 0.0, 0.0, 0.0, 0.0]",1821,0.999093,2018,237.369031,NaN,237.369031
15530,-30020932,"[-442161, -9313402, -11129605, -13503206, -135...","[0.0, 0.0, 0.0, 0.0, 0.0]",-442161,0.983852,2018,4331.332580,NaN,4331.332580
15531,30020932,"[5439677, 14065128, 6248089, 20230203, 438481]","[0.0, 0.0, 0.0, 0.0, 0.0]",5439677,1.013915,2018,3572.413348,NaN,3572.413348
15532,-30031161,"[-1147184, -913864, -13515818, -30010427, -300...","[0.0, 0.0, 0.0, 0.0, 0.0]",-1147184,0.891378,2018,5109.287993,NaN,5109.287993
15533,30031161,"[20043629, 30018111, 30065733, 1147194, 913875]","[0.0, 0.0, 0.0, 0.0, 0.0]",20043629,0.813953,2018,6287.705544,NaN,6287.705544
15534,-30035821,"[-12334583, -30036166, -1147347, -30022069, -1...","[0.0, 0.0, 0.0, 0.0, 0.0]",-12334583,1.096785,2018,1471.411911,NaN,1471.411911
15535,-30054796,"[-110101, -6436449, -106797, -20050591, -13503...","[0.0, 0.0, 0.0, 0.0, 0.0]",-110101,1.053314,2018,7669.268585,NaN,7669.268585
15536,30054796,"[110025, 110026, 106898, 4341781, 105654]","[0.0, 0.0, 0.0, 0.0, 0.0]",110025,1.074500,2018,8551.962653,NaN,8551.962653
15537,-30058206,"[-20054568, -30023559, -8491741, -1147201, -12...","[0.0, 0.0, 0.0, 0.0, 0.0]",-20054568,1.008292,2018,3645.824876,NaN,3645.824876
15538,-30058854,"[-104870, -30073545, -13503833, -106797, -2005...","[0.0, 0.0, 0.0, 0.0, 0.0]",-104870,0.986010,2018,180.356630,NaN,180.356630
15539,30058854,"[5439765, 2370044, 30019302, 105654, 106898]","[0.0, 0.0, 0.0, 0.0, 0.0]",5439765,0.966183,2018,144.281160,NaN,144.281160
15540,-30059702,"[-104870, -30073545, -13503833, -106797, -2005...","[0.0, 0.0, 0.0, 0.0, 0.0]",-104870,0.986010,2018,626.869122,NaN,626.869122
15541,30059702,"[30019302, 5439765, 2370044, 105654, 106898]","[0.0, 0.0, 0.0, 0.0, 0.0]",30019302,1.045796,2018,798.412040,NaN,798.412040
15542,-30059784,"[-104870, -30073545, -13503833, -106797, -2005...","[0.0, 0.0, 0.0, 0.0, 0.0]",-104870,0.986010,2018,2662.181766,NaN,2662.181766
15543,30059784,"[30019302, 5439765, 2370044, 105654, 106898]","[0.0, 0.0, 0.0, 0.0, 0.0]",30019302,1.045796,2018,3540.006529,NaN,3540.006529
15544,-30065224,"[-8171, -30073761, -442161, -13503206, -13503207]","[0.0, 0.0, 0.0, 0.0, 0.0]",-8171,1.104457,2018,1317.886944,NaN,1317.886944
15545,30065224,"[5439677, 6248089, 14065128, 30075995, 20230203]","[0.0, 0.0, 0.0, 0.0, 0.0]",5439677,1.013915,2018,818.180503,NaN,818.180503
15546,30071590,"[20043629, 913875, 30018111, 30065733, 1147194]","[0.0, 0.0, 0.0, 0.0, 0.0]",20043629,0.813953,2018,269.459254,NaN,269.459254
15547,30075961,"[6837747, 30073955, 1033, 8540609, 1003]","[0.0, 0.0, 0.0, 0.0, 0.0]",6837747,0.981848,2018,3329.748006,NaN,3329.748006
15548,-30078909,"[-442161, -13503206, -13503207, -13503251, -93...","[0.0, 0.0, 0.0, 0.0, 0.0]",-442161,0.983852,2018,15844.016499,NaN,15844.016499
15549,30078909,"[6248089, 20230203, 14065128, 438481, 5849817]","[0.0, 0.0, 0.0, 0.0, 0.0]",6248089,0.907765,2018,14136.934913,NaN,14136.934913
15550,-30078912,"[-442161, -13503206, -13503207, -13503251, -8171]","[0.0, 0.0, 0.0, 0.0, 0.0]",-442161,0.983852,2018,15703.874305,NaN,15703.874305
15551,-30085792,"[-441170, -440171, -440332, -20140757, -442447]","[0.0020327721096051556, 0.0009564263148283921,...",-440332,1.128996,2018,7427.540302,NaN,7427.540302
15552,30085792,"[442292, 440429, 442871, 110026, 443071]","[0.004033947657117259, 0.001145432231431925, 0...",442871,1.129811,2018,8134.137962,NaN,8134.137962

## Bagheri Count Module

Lastly, we test `countmatch_bagheri.py`, which most closely resembles Bagheri et al.

In [19]:
import countmatch_bagheri as cmb
importlib.reload(cmb)

In [20]:
# Process nearest PTC comparisons to estimate AADT for each STTC.
cmb.get_aadt_estimate_for_sttc(
    rdr_bag.sttcs[-175], rdr_bag.ptcs, nb, 2019, cmb.estimate_mse)

(-175,
 [-1022, -444637, -890, -445309, -445884],
 [0.5608327532405594,
  0.68604128629566,
  0.6339420489270072,
  0.559453533374608,
  0.46442693081405684],
 -445884,
 0.9090066894109187,
 2010,
 709.1793723945789)

In [21]:
cmh.get_aadt_estimate_for_sttc(
    rdr_bag.sttcs[-175], rdr_bag.ptcs, nb, 2019)

(-175,
 [-1022, -444637, -890, -445309, -445884],
 [0.5608327532405594,
  0.8307061415303842,
  0.6344208625386252,
  0.6842551418750419,
  0.7747454246136338],
 -1022,
 1.135230414860393,
 2010,
 5378.846957103764)

In [22]:
tc = rdr_bag.sttcs[-175]
ptcs = rdr_bag.ptcs
want_year = 2019
n_neighbours=5
single_direction=True,

# Find nearest neighbours in same direction.
neighbour_ptcs = cmc.get_neighbours(
    tc, ptcs, nb, n_neighbours=n_neighbours,
    single_direction=single_direction)

# Determine minimum MSE tables for closest neighbouring PTCs.
mses = []
for ptc in neighbour_ptcs:
    ptc_match = cmh.get_ptc_match(tc, ptc)
    # growth_factor = (override_growth_factor if override_growth_factor
    #                  else ptc.growth_factor)
    mses.append((ptc.count_id,) +
                cmh.estimate_mse(ptc_match, ptc, want_year,
                             cmc.get_citywide_growth_factor(rdr_bag)))
# Retrieve `ptc_match` table of minimum MSE PTC.
min_countid, mmse_ptc_match = min(mses, key=lambda x: x[-1])[0:2]

In [23]:
mses[0][1]

,Year,Date,Daily Count,Day of Week,Month,Closest Year,D_ijd,DoM_ijd,MADT_est
0,2006,2006-08-15,171.0,1,8,2016,0.951817,0.968189,220.411747
1,2010,2010-06-09,1855.0,2,6,2016,0.925953,0.962942,2177.623663

In [24]:
mses[1][1]

,Year,Date,Daily Count,Day of Week,Month,Closest Year,D_ijd,DoM_ijd,MADT_est
0,2006,2006-08-15,171.0,1,8,2010,0.975602,1.005890,228.994586
1,2010,2010-06-09,1855.0,2,6,2010,0.991796,0.984848,2227.162266

In [25]:
# Process nearest PTC comparisons to estimate AADT for each STTC.
cmb.get_aadt_estimate_for_sttc(
    rdr_bag.sttcs[-175], rdr_bag.ptcs, nb, 2019, cmb.estimate_mse,
    override_growth_factor=cmc.get_citywide_growth_factor(rdr_bag))

(-175,
 [-1022, -444637, -890, -445309, -445884],
 [0.6984172544782186,
  0.8374002130428739,
  0.7795400789582994,
  0.69686364325305,
  0.5902844916985741],
 -445884,
 1.0222564979935564,
 2010,
 2040.2871790117917)